.header {
  display: flex;
  height: 7.4375rem;
  padding: 0.5rem 20rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-bottom: 1px solid var(--Primary, #5834A8);
}



.left {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.13919rem;
  align-self: stretch;
}
.logo {
  width: 5.8125rem;
  height: 4.8125rem;
}

.compName {
  width: 5.92531rem;
  height: 1.52175rem;
}
.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  align-self: stretch;

  a {
    text-decoration: none;
    color: var(--White, #FFF);
    text-align: center;
    /* Body/B10-18 reg */
    font-family: "IBM Plex Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
  }

}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.5rem;
}

.cta {
  background: #fff;
  color: #6a11cb;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.avatar {
  height: 3rem;
  border-radius: 50%;
}
