.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--Background-Dark, #080411);
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 260px; // Adjust as needed
  background-color: #0e0a1a;
}

.main {
  flex: 1;
  padding: 1rem;
  overflow-x: hidden;
}

.landing-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--Background-Dark, #080411);

  main {
    flex: 1;
    padding: 0 2rem; // optional
  }
}
